@model IEnumerable<Semester2Challenge2BasketballApp.Models.Game>

@{
    ViewBag.Title = "FutureGames";
}

<h2>Future Games</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateandTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeePayer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forfeit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateandTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeePayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forfeit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.GameID }) |
                @Html.ActionLink("Details", "Details", new { id = item.GameID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GameID })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Index", "Index")<br />
@Html.ActionLink("Past Games", "PastGames")